.list-item{
    cursor: pointer;
    transition: all 0.1s linear;
}
.list-item:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.scroll{
    height: 90vh;
    overflow-y:scroll;
    overflow-x:hidden;
}